body {
  background-color: var(--clr-background);
  font-family: var(--ff-primary);
  color: var(--font-color-primary);
  position: relative;
}

.shark {
  display: none;
  position: absolute;
  background: red;
  width: 50px !important;
  height: 50px !important;
  left: 0;
  bottom: -10px !important;
}
.corgi {
  display: none;
  position: absolute;
  background: blue;
  width: 50px !important;
  height: 50px !important;
  right: 0;
  bottom: -10px !important;
}
.add {
  display: block;
}
